<h1>Imprint / About</h1>
<p>The generator is free to use. The generated content is provded as-is and without any warranty.</p>

<strong>Angaben gemäß § 5 Abs. 1 TMG.</strong><br />
Christoph Petersen<br />
Apostelweg 11<br />
22143 Hamburg<br />
Germany