@using SudoGenerator.Models
@model Configuration

<h1>Microsoft System Center Operations Manager sudo Generator</h1>
@{
    if (Model.HasConfiguration)
    {
        <h3>Configuration</h3>
        <samp>@Html.Raw(Model.GetConfiguration().Replace("\n", "<br />"))</samp>
    }
    else
    {
        <p>This generator aims to help you create a sudo configuration which enables your organization to monitor Linux/UNIX based systems with Microsoft System Center Operations Manager.</p>
        <p>
            Further documentation on how to add UNIX/Linux agents to a management group can be found on TechNet:
            <ul>
                <li><a href="https://blogs.technet.microsoft.com/cbernier/2014/01/10/monitoring-your-unixlinux-servers-with-system-center-operations-manager-2012/">Monitoring your UNIX/Linux Servers with System Center Operations Manager 2012</a></li>
                <li><a href="http://social.technet.microsoft.com/wiki/contents/articles/7375.configuring-sudo-elevation-for-unix-and-linux-monitoring-with-system-center-2012-operations-manager.aspx">Configuring sudo Elevation for UNIX and Linux Monitoring with System Center 2012 – Operations Manager</a></li>
            </ul>
        </p>
        <p>Currently there are some limitations to this generator and I'm working to add more functionality to it over time. If you have a special need/request feel free to <a href="https://github.com/peterschen/SudoGenerator/issues">create an issue</a> or a <a href="https://github.com/peterschen/SudoGenerator/pulls">pull request</a>.</p>
    }

    await Html.RenderPartialAsync("GeneratorForm");
}